@model AVA.Web.Mvc.Models.PasswordRecoveryMembershipViewModel
@using AVA.UI.Helpers.Controller;
@using AVA.UI.Helpers.Common;
@using AVA.UI.Helpers.Base;
<update-title title="{{'PasswordRecovery' | translate}}"></update-title>
<update-meta property="og:title" content="{{'PasswordRecovery' | translate}}"></update-meta>
<update-meta name="description" content="{{'HeaderTitle'| translate}}-{{'PasswordRecovery' | translate}}"></update-meta>
<update-meta itemprop="description" content="{{'HeaderTitle'| translate}}-{{'PasswordRecovery' | translate}}"></update-meta>
<update-meta name="keywords" content="{{'HeaderTitle'| translate}},{{'PasswordRecovery' | translate}}"></update-meta>
<update-script content="structuredData" type="application/ld+json"></update-script>
@using (Html.BeginForm("ForgetPass", "Home", null, FormMethod.Post, new { id = "form-Membership", ng_controller = "MySubmitController" }))
{
    <input type="hidden" id="forgeryToken" value="@ControllerHelper.GetAntiForgeryToken()" />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="content">
        <div class="container animated fadeIn animation-delay-7">
            <!-- Sign Up form -->
            <div class="form-login form-wrapper form-narrow">
                <h3 class="title-divider text-center">
                    <span>{{ 'PasswordRecovery' | translate}}</span>
                </h3>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "sr-only" })
                    @Html.TextBoxFor(model => model.Email, new
                    {
                        @class = "form-control",
                        ng_model = "model." + CommonHelper.ExposeProperty.GetPropertyInfo(Model, m => m.Email).Name,
                        placeholder = CommonHelper.GetDisplayName(Model, m => m.Email),
                    })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <button class="btn btn-primary" type="submit" ng-click="ResetPassword($event,'@Url.Action("ForgetPass", "Home")','form-Membership')">تغییر رمز عبور</button>
            </div>
        </div>
    </div>
}

<script>
    var CurrentModel=@Html.Raw(Json.Encode(Model));
</script>
