@model AVA.Web.Mvc.Models.Admin.ResetPasswordViewModel
@using AVA.UI.Helpers.Controller;
@using AVA.UI.Helpers.Common;
@using AVA.UI.Helpers.Base;
@{
    string ModuleName = "ResetPassword";
}
<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="MySubmitController">
    <div>
        <div>
            <h1 class="logo-name">AVA</h1>
        </div>
        <p>
            تغییر رمز عبور
        </p>
        @*<p>Login in. To see it in action.</p>*@
        @using (Html.BeginForm("ResetPassword", "PublicAdmin", null, FormMethod.Post, new { id = "form-"+ ModuleName, ng_controller = "MySubmitController" }))
        {
            <input type="hidden" id="forgeryToken" value="@ControllerHelper.GetAntiForgeryToken()" />
            <div class="form-group">
                @Html.TextBoxFor(model => model.Email, new
           {
               @class = "form-control",
               ng_model = "model." + CommonHelper.ExposeProperty.GetPropertyInfo(Model, m => m.Email).Name,
               placeholder = CommonHelper.GetDisplayName(Model, m => m.Email),
           })
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.Password, new
           {
               @class = "form-control",
               ng_model = "model." + CommonHelper.ExposeProperty.GetPropertyInfo(Model, m => m.Password).Name,
               placeholder = CommonHelper.GetDisplayName(Model, m => m.ConfirmPassword),
           })
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.ConfirmPassword, new
           {
               @class = "form-control",
               ng_model = "model." + CommonHelper.ExposeProperty.GetPropertyInfo(Model, m => m.ConfirmPassword).Name,
               placeholder = CommonHelper.GetDisplayName(Model, m => m.ConfirmPassword),
           })
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-click="ResetPassword($event,'@Url.Action("ResetPasswordAction", "PublicAdmin")','form-@ModuleName')">تغییر رمز عبور</button>
            <a ui-sref="HomeAdmin"><small>ورود به سامانه</small></a>
        }
        <p class="m-t"> <small>Ava Develop Team &copy; 2017</small> </p>
    </div>
</div>

<script>
    var CurrentModel=@Html.Raw(Json.Encode(Model));
</script>